In [1]:
import pandas as pd

melborn_file_path = "/Users/shahriar/Downloads/melb_data.csv"
melborn_data = pd.read_csv(melborn_file_path)
melborn_data.describe()

,Rooms,Price,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount
count,13580.000000,1.358000e+04,13580.000000,13580.000000,13580.000000,13580.000000,13518.000000,13580.000000,7130.000000,8205.000000,13580.000000,13580.000000,13580.000000
mean,2.937997,1.075684e+06,10.137776,3105.301915,2.914728,1.534242,1.610075,558.416127,151.967650,1964.684217,-37.809203,144.995216,7454.417378
std,0.955748,6.393107e+05,5.868725,90.676964,0.965921,0.691712,0.962634,3990.669241,541.014538,37.273762,0.079260,0.103916,4378.581772
min,1.000000,8.500000e+04,0.000000,3000.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1196.000000,-38.182550,144.431810,249.000000
25%,2.000000,6.500000e+05,6.100000,3044.000000,2.000000,1.000000,1.000000,177.000000,93.000000,1940.000000,-37.856822,144.929600,4380.000000
50%,3.000000,9.030000e+05,9.200000,3084.000000,3.000000,1.000000,2.000000,440.000000,126.000000,1970.000000,-37.802355,145.000100,6555.000000
75%,3.000000,1.330000e+06,13.000000,3148.000000,3.000000,2.000000,2.000000,651.000000,174.000000,1999.000000,-37.756400,145.058305,10331.000000
max,10.000000,9.000000e+06,48.100000,3977.000000,20.000000,8.000000,10.000000,433014.000000,44515.000000,2018.000000,-37.408530,145.526350,21650.000000

In [2]:
melborn_data.columns

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

In [3]:
melborn_feature = ["Price", "Distance"]
x = melborn_data[melborn_feature]
x.describe()

              Price      Distance
count  1.358000e+04  13580.000000
mean   1.075684e+06     10.137776
std    6.393107e+05      5.868725
min    8.500000e+04      0.000000
25%    6.500000e+05      6.100000
50%    9.030000e+05      9.200000
75%    1.330000e+06     13.000000
max    9.000000e+06     48.100000

In [4]:
x.head()

       Price  Distance
0  1480000.0       2.5
1  1035000.0       2.5
2  1465000.0       2.5
3   850000.0       2.5
4  1600000.0       2.5

In [5]:
y = melborn_data.Price
y.describe()

count    1.358000e+04
mean     1.075684e+06
std      6.393107e+05
min      8.500000e+04
25%      6.500000e+05
50%      9.030000e+05
75%      1.330000e+06
max      9.000000e+06
Name: Price, dtype: float64

In [6]:
melborn_data = melborn_data.dropna(axis=0)

In [7]:
melborn_data.describe()

,Rooms,Price,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount
count,6196.000000,6.196000e+03,6196.000000,6196.000000,6196.000000,6196.000000,6196.000000,6196.000000,6196.000000,6196.000000,6196.000000,6196.000000,6196.000000
mean,2.931407,1.068828e+06,9.751097,3101.947708,2.902034,1.576340,1.573596,471.006940,141.568645,1964.081988,-37.807904,144.990201,7435.489509
std,0.971079,6.751564e+05,5.612065,86.421604,0.970055,0.711362,0.929947,897.449881,90.834824,38.105673,0.075850,0.099165,4337.698917
min,1.000000,1.310000e+05,0.000000,3000.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1196.000000,-38.164920,144.542370,389.000000
25%,2.000000,6.200000e+05,5.900000,3044.000000,2.000000,1.000000,1.000000,152.000000,91.000000,1940.000000,-37.855438,144.926198,4383.750000
50%,3.000000,8.800000e+05,9.000000,3081.000000,3.000000,1.000000,1.000000,373.000000,124.000000,1970.000000,-37.802250,144.995800,6567.000000
75%,4.000000,1.325000e+06,12.400000,3147.000000,3.000000,2.000000,2.000000,628.000000,170.000000,2000.000000,-37.758200,145.052700,10175.000000
max,8.000000,9.000000e+06,47.400000,3977.000000,9.000000,8.000000,10.000000,37000.000000,3112.000000,2018.000000,-37.457090,145.526350,21650.000000

In [8]:
from sklearn.tree import DecisionTreeRegressor


filtered_data = melborn_data.dropna(axis = 0)
y = filtered_data.Price
melborn_features = ['Rooms', 'Bathroom', 'Landsize', 'BuildingArea', 
                        'YearBuilt', 'Lattitude', 'Longtitude']
x = filtered_data[melborn_features]

melborn_model = DecisionTreeRegressor()

melborn_model.fit(x, y)

DecisionTreeRegressor()

In [9]:
from sklearn.metrics import mean_absolute_error

predict_home_price = melborn_model.predict(x)
mean_absolute_error(y, predict_home_price)

434.71594577146544

In [10]:
from sklearn.model_selection import train_test_split

train_x, val_x, train_y, val_y = train_test_split(x, y, random_state = 0)
melborn_model = DecisionTreeRegressor()
melborn_model.fit(train_x, train_y)
val_predict = melborn_model.predict(val_x)
mean_absolute_error(val_y, val_predict)

262057.07876049064

In [11]:
def getMae(max_leaf_nodes, train_x, val_x, train_y, val_y):
    model = DecisionTreeRegressor(max_leaf_nodes=max_leaf_nodes, random_state = 0)
    model.fit(train_x, train_y)
    pred = model.predict(val_x)
    mae = mean_absolute_error(val_y, pred)
    return mae

In [14]:

for mln in [5, 50, 500, 4500]:
    mae = getMae(mln, train_x, val_x, train_y, val_y)
    print(f"max leaf nodes: {mln}   Mean Absolute error: {mae}")

max leaf nodes: 5   Mean Absolute error: 347380.33833344496
max leaf nodes: 50   Mean Absolute error: 258171.21202406782
max leaf nodes: 500   Mean Absolute error: 243495.96361790417
max leaf nodes: 4500   Mean Absolute error: 254985.31073811062

In [15]:
from sklearn.ensemble import RandomForestRegressor

forest_model = RandomForestRegressor(random_state = 1)
forest_model.fit(train_x, train_y)
pred = forest_model.predict(val_x)
print(mean_absolute_error(val_y, pred))

191669.7536453626